@import './variables';

/* Header */
.header {
  background: #202020;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;

  .inner-logo {
    a {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
    }
  }
}

/* End Header */

/* Body */
.body {
  .sider {
    width: 150px;
    background: #323232;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
  }

  .main {
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 180px);
  }
}

/* End Body */

/* Sider */
.sider {
  .inner-menu {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {

        /* Header */
        .header {
          background: #202020;
          padding: 10px 0;
          position: sticky;
          top: 0;
          z-index: 999;

          .inner-logo {
            a {
              font-size: 24px;
              font-weight: 700;
              color: #fff;
            }
          }
        }

        /* End Header */

        /* Body */
        .body {
          .sider {
            width: 150px;
            background: #323232;
            color: #fff;
            height: calc(100vh - 56px);
            position: fixed;
            top: 56px;
            left: 0;
          }

          .main {
            margin: 15px;
            position: relative;
            left: 150px;
            width: calc(100% - 180px);
          }
        }

        /* End Body */

        /* Sider */
        .sider {
          .inner-menu {
            ul {
              list-style: none;
              padding: 0;
              margin: 0;

              li {
                a {
                  color: #fff;
                  display: block;
                  padding: 6px 10px;
                  border-bottom: 1px solid #515151;
                }
              }
            }
          }
        }

        /* End Sider */
        a {
          color: #fff;
          display: block;
          padding: 6px 10px;
          border-bottom: 1px solid #515151;
        }
      }
    }
  }
}

/* End Sider */

// 
.alert {
  transition: opacity $fade-duration $fade-ease;

  &.fade-out {
    opacity: 0;
  }
}

//

/* alert-message */
.alert-message {
  position: fixed;
  top: 60px;
  right: 20px;
  z-index: 9999;
}

/* End alert-message */

/* image-preview */
.image-preview {
  width: $image-preview-width;
  height: auto;
  margin-top: 15px;
  border: 1px solid $image-preview-border-color;
  padding: $image-preview-padding;
  border-radius: 5px;

  // Hide the image preview when no source is set
  &[src=""] {
    display: none;
  }
}

/* End image-preview */